* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;


}


.mask2 p {
  overflow-y: hidden;
}

.mask3 p {
  overflow-y: hidden;

}

.mask4 p {
  overflow-y: hidden;

}

.mask5 p {
  overflow-y: hidden;

}

.mask6 p {
  overflow-y: hidden;

}

.mask7 p {
  overflow-y: hidden;
}

.mask8 h1 {
  overflow-y: hidden;
}


.mask {
  overflow-y: hidden;
}

#box {
  justify-content: center;
  align-items: center;
  display: flex;
  top: 0;
  z-index: 99999;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgb(0, 0, 0);
}

#box p {
  font-weight: bold;
  font-size: 10rem;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
}

header {
  padding-block: 5px;
  height: 5vh;
  padding-inline: 30px;
  width: 100vw;
  z-index: 1000;
  top: 0;
  left: 0;
  position: fixed;
  justify-content: space-between;
  display: flex;
  text-align: center;
  background-color: white;

}

#logo {
  height: 110%;
  
}

img {
  width: auto;
  height: 100%;
}

a {
  cursor: pointer;
  font-weight: 550;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.boutton {

  height: 100%;
  display: flex;
  gap: 50px;
  align-items: center;
}

.section1 {
  margin-top: 40px;
  height: 80vh;
  width: auto;
}

.title-container {
  margin-bottom: 50px;
  margin-top: 100px;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-container p {
  font-size: 55px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: -5px;
}

.CREATION {
  transform: translateX(65px)
}

.PUNK {
  transform: translateX(205px)
}

.ON-THE-SOUTH-SIDE {
  transform: translateX(-80px)
}

.OF-FRANCE {
  transform: translateX(284px);
}

.graphique {
  margin-bottom: 50px;
}

.creative-vector p {
  overflow-y: hidden;
  font-size: 1rem;
  font-weight: 400;
  font-family: 'Times New Roman', Times, serif;

}

.creative {
  transform: translateX(480px);
}

.vector {
  transform: translateX(490px);
}

.img-art {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.img-art img {
  border-radius: 2%;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
}

#section2 {
  height: 100vh;
  width: auto;
}

.titre h1 {
  color: black;
}

.titre {
  opacity: 90%;
  background-color: rgb(255, 255, 255);
  font-size: 20px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 1;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
}

#section3 {

  height: 100vh;
  width: auto;

}

.titre3 {
  padding-top: 40px;
  /* background-color: aqua; */
  font-size: 55px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 50px;
}

.soustitre {
  margin-left: 5%;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;

}

.content-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.vertical_text {
  position: absolute;
  z-index: 1;
  font-family: Arial, Helvetica, sans-serif;
  overflow-y: hidden;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 14px;
}

.img1 {
  gap: 20px;
  height: 400px;
  width: auto;
  width: auto;
  margin-right: 1%;
  margin-left: 1%;
  margin-top: 5%;
  align-items: center;
  display: flex;

}



#section4 {
  background-color: rgb(0, 1, 34);
  height: 50vh;
  width: auto;
}

.contact2 {
  height: auto;
  width: auto;
  font-size: 39px;
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
}

#boxcontact {
  border-radius: 20px;
  display: flex;
  top: 0;
  z-index: 4;
  background-color: white;
  height: 30vh;
  width: auto;
}

#titrecontact {
  margin-left: 15px;
  margin-top: 10px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

#textcontact {
  width: 100%;
  font-size: 16px;
  margin-left: 15px;
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.horaire {
  /* background-color: aqua; */
  margin-left: 150px;
}

#titreHoraire {
  margin-left: 30px;
  margin-top: 10px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

#textHoraire {
  width: 100%;
  font-size: 16px;
  margin-left: 30px;
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
}



#titreFollow {
  margin-top: 10px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.follow {

  /* background-color: aqua; */
  width: fit-content;
  margin-left: 350px;

}

#logoapp img {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.soutien {
  /* background-color: aqua; */
  margin-left: auto;
  margin-right: 30px;

}

#titresoutien {
  margin-top: 10px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

#textsoutien {
  width: 100%;
  font-size: 16px;
  margin-left: 30px;
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
}